<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" verbose="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="PHY\Variable Test Suite">
            <directory phpVersion="5.4" phpVersionOperator=">=">tests/Variable/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Variable/</directory>
        </whitelist>
    </filter>
</phpunit>